<li>
  <div class="form-group">
    <h4>{{rental.owner}}'s {{rental.type}} in {{rental.city}}</h4>
    {{#if isImageShowing}}
      <p>
        <img src="{{rental.image}}" alt="{{rental.type}}" {{action 'imageHide'}} />
      </p>
    {{else}}
      <button {{action 'imageShow'}} >Show image</button>
    {{/if}}
      {{update-rental rental=rental update="update"}}
      <button {{action 'delete' rental}}>Delete Rental</button>
  </div>
</li>
